* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

Main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.form_parent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_parent > .form_div {
  border-radius: 5px;
  padding: 2.4rem;
  width: 100%;
  color: #575555;
}

.form_div > h3 {
  text-align: center;
  margin-top: 0.5rem;
}

.form_input {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 100%;
}

.form {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 1rem;
  width: 55%;
  column-gap: 1rem;
}

input,
select {
  padding: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #575555;
  width: 100%;
  color: #575555;
  outline: none;
}

.form_input > label {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

button {
  padding: 0.75rem 2rem;
  background-color: #6c63ff;
  color: #d9dcd6;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
  grid-column-start: span 2;
  width: 40%;
  justify-self: center;
}

button:hover {
  background-color: #4d46d8;
}

#gender {
  cursor: pointer;
}

option {
  background-color: #11364b;
  color: #e2e8f0;
  cursor: pointer;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #e2e8f0;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  margin-bottom: 1rem;
  margin-left: 0.7rem;
}

.logout > div {
  display: flex;
}

.logout > div > i {
  cursor: pointer;
}
.logout > div > p {
  margin-left: 0.5rem;
  cursor: pointer;
}

.logout:hover {
  background-color: #f6f6f6;
}

.logout:hover > div > p {
  color: #334155;
}

.logout:hover > div > i {
  color: #334155;
}

header {
  height: 100%;
  width: 20vw;
  background-color: #11364b;
  float: left;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  /* margin-top: 9rem; */
}

.person {
  padding: 2rem;
  display: flex;
  margin-top: 1rem;
}

.person > p {
  margin-left: 0.5rem;
}

.option {
  display: flex;
  padding: 2rem;
  transition: all 0.5s ease;
  cursor: pointer;
  border-bottom-left-radius: 65px;
  border-top-left-radius: 65px;
  margin-bottom: 1rem;
  margin-left: 0.7rem;
}

.option > p {
  margin-left: 0.5rem;
}

.option:hover {
  background-color: #f6f6f6 !important;
}

.option:hover > p {
  color: #334155 !important;
}

.option:hover > i {
  color: #334155 !important;
}

.option1 {
  background-color: #f6f6f6;
}

.option1 > .fa-user-plus {
  color: #334155;
}
.option1 > p {
  color: #334155;
}

table {
  border-collapse: collapse;
  border: 2px solid #9fa09e;
  border-bottom: 2px solid #9fa09e;
}

.student_table_parent {
  overflow-y: scroll;
  height: 100vh;
  padding: 1rem 0rem;
}

th {
  background-color: #a7b8c3;
  color: #3b4347;
}

td,
th {
  border-collapse: collapse;
  border-bottom: 1px solid #d9dcd6;
}

td,
th {
  padding: 2rem;
}

tr:last-child td {
  border-bottom: 1px solid #d9dcd6;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success {
  position: absolute;
  top: 10%;
  transform: translateX(70rem);
}

.success.message_animate {
  animation: 3s ease 0s 1 slideMessage;
}

@keyframes slideMessage {
  0% {
    transform: translateX(50rem);
  }

  75% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(70rem);
  }
}

.burger > div {
  width: 25px;
  height: 3px;
  background-color: #575555;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.burger {
  padding: 0.01rem;
  cursor: pointer;
  display: none;
}

@media all and (max-width: 768px) {
  * {
    font-size: 1rem;
  }
  body {
    height: 100vh;
    width: 100vw;
  }
  header {
    background-color: #f6f6f6;
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .person > p {
    margin-top: 0.2rem;
  }

  .option {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0;
    font-size: 1rem;
    text-align: center;
    height: 100%;
  }
  .option > p {
    margin: 0;
  }
  .logout {
    padding: 0;
    margin: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logout > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .burger {
    display: block;
    margin-top: 0.5rem;
  }

  .line1.toggle {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #f6f6f6;
  }

  .line2.toggle {
    opacity: 0;
  }
  .line3.toggle {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: #f6f6f6;
  }

  .nav {
    position: absolute;
    left: 0;
    top: 10vh;
    z-index: 50;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.5s ease-in;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div > .logout {
    flex-grow: 1;
  }
  .nav.active {
    transform: translateX(0%);
  }

  @keyframes navLinksFade {
    from {
      opacity: 0;
      transform: translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  header.active {
    background-color: #11364b;
  }

  .student_table_parent {
    overflow-x: auto;
    overflow-y: auto;
    height: 100vh;
    padding: 1rem 0rem;
    width: 100%;
  }

  table {
    height: auto;
    width: 100%;
  }
}
