* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header > a {
  text-decoration: none;
  color: #767676;
  font-weight: bold;
  background-color: transparent;
}

li > a {
  text-decoration: none;
  margin-left: 1rem;
  transition: all 0.5s ease;
  color: #767676;
}

.nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

li > a:hover {
  color: #6b6b6b;
  border-bottom: 1px solid #6b6b6b;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 90%;
  color: #767676;
}

.logo {
  margin-left: 3rem;
}

.line {
  width: 100%;
  border: 1px solid rgba(255, 24, 24, 0);
  background-color: #4b4b4b;
}

.nav.active {
  transform: translateX(0%);
}
