* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #334155;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 5%;
}

.title-header {
  font-size: 45px;
  text-align: left;
  margin-bottom: 3rem;
  font-weight: bold;
}

.text_parent {
  width: 752px;
  height: 486px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

li > a {
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
  transition: all 0.5s ease;
}

ul {
  display: flex;
  list-style: none;
}

li > a:hover {
  color: #adadad;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 90%;
}

.fa-chevron-up {
  position: fixed;
  bottom: 10px;
  right: -40px;
  cursor: pointer;
  padding: 0.75rem;
  background-color: #6c63ff;
  border-radius: 50%;
  transition: 0.2s;
}

.fa-chevron-up.show {
  right: 10px;
}

#aboutUS {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.des {
  display: block;
  line-height: 1.6;
  text-align: justify;
}

#contactUs {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  margin-top: 0.5rem;
}
.name {
  margin-left: 0.5rem;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
