* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #e2e8f0;
}
.form_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.form_input > label {
  margin-bottom: 0.4rem;
}

.form_parent {
  background-color: #334155;
  min-height: 50vh;
  width: 310px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

form > button {
  width: max-content;
  padding: 0.75rem 2rem;
  margin: 1rem auto;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: 1px solid #6c63ff;
  transition: all 0.5s ease;
  border-radius: 20px;
}

button:hover {
  background-color: #6c63ff;
}

.form_parent > h1 {
  margin-top: 2rem;
}

.form_input > input {
  background-color: #2b3747;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 16px;
  padding: 0.2rem;
}

.error_message {
  background-color: black;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border-radius: 15px;
  text-align: center;
  display: none;
}
