* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.logout {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #d9dcd6;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  margin-left: 0.7rem;
}

.logout > div {
  display: flex;
}

.logout > div > i {
  cursor: pointer;
}
.logout > div > p {
  margin-left: 0.5rem;
  cursor: pointer;
}

.logout:hover {
  background-color: #f6f6f6;
}

.logout:hover > div > p {
  color: #334155;
}

.logout:hover > div > i {
  color: #334155;
}

header {
  position: relative;
  height: 100vh;
  width: 20vw;
  background-color: #11364b;
  float: left;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
}

.person {
  padding: 2rem;
  display: flex;
  margin-top: 1rem;
}

.person > p {
  margin-left: 0.5rem;
  color: #fff;
}
.person > i {
  margin-left: 0.5rem;
  color: #fff;
}

.option {
  display: flex;
  padding: 2rem;
  transition: all 0.5s ease;
  cursor: pointer;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  margin-left: 0.7rem;
  margin-bottom: 1rem;
}

.option > p {
  margin-left: 0.5rem;
}

.option:hover {
  background-color: #f6f6f6 !important;
}

.option:hover > p {
  color: #334155 !important;
}

.option:hover > i {
  color: #334155 !important;
}

.option2 {
  background-color: #f6f6f6;
}

.option2 > i {
  color: #334155;
}
.option2 > p {
  color: #334155;
}

Main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.courses_parent {
  background-color: #f6f6f6;
  min-height: 1rem;
  min-width: 15rem;
  border: 3px solid #d9dcd6;
}
.courses_parent > h3 {
  padding: 1rem;
}
.course {
  padding: 1rem;
}

.line {
  width: 100%;
  border-bottom: 3px solid #d9dcd6;
}

.line:last-child {
  display: none;
}

a {
  text-decoration: none;
  color: #e2e8f0;
}
