* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #16425b;
  color: #d9dcd6;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.logout {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #d9dcd6;
}

.logout > div {
  display: flex;
}

.logout > div > i {
  cursor: pointer;
}
.logout > div > p {
  margin-left: 0.5rem;
  cursor: pointer;
}

.logout:hover {
  background-color: #d9dcd6;
}

.logout:hover > div > p {
  color: #334155;
}

.logout:hover > div > i {
  color: #334155;
}

header {
  position: relative;
  height: 100vh;
  width: 20vw;
  background-color: #11364b;
  float: left;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
}

.person {
  padding: 2rem;
  display: flex;
  margin-top: 1rem;
}

.person > p {
  margin-left: 0.5rem;
}

.option {
  display: flex;
  padding: 2rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.option > p {
  margin-left: 0.5rem;
}

.option:hover {
  background-color: #d9dcd6 !important;
}

.option:hover > p {
  color: #334155 !important;
}

.option:hover > i {
  color: #334155 !important;
}

.option1 {
  background-color: #d9dcd6;
}

.option1 > i {
  color: #334155;
}
.option1 > p {
  color: #334155;
}

Main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.form_parent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.form_parent > .form_div {
  /* border: 2px solid #e2e8f0; */
  background: #11364b;
  border-radius: 5px;
  padding: 2.4rem;
  width: fit-content;
}

.form_div > h3 {
  text-align: center;
}

button {
  width: min-content;
  padding: 0.75rem 2rem;
  margin: 1rem auto;
  background-color: transparent;
  color: #d9dcd6;
  cursor: pointer;
  border: 1px solid #6c63ff;
  transition: all 0.5s ease;
  border-radius: 20px;
  display: block;
}

button:hover {
  background-color: #6c63ff;
}

form {
  padding: 2rem;
}

form > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

form > div > input,
label {
  cursor: pointer;
}

form > div > h4 {
  margin-left: 0.5rem;
}

table {
  border-collapse: collapse;
}

table,
td,
th {
  border-collapse: collapse;
  border: 3px solid #d9dcd6;
}

td,
th {
  padding: 1rem;
}

input {
  cursor: pointer;
}

.courses_parent {
  background-color: #11364b;
  min-height: 1rem;
  min-width: 15rem;
  border: 3px solid #d9dcd6;
}
.courses_parent > h3 {
  padding: 1rem;
}
.course {
  padding: 1rem;
}

.line {
  width: 100%;
  border-bottom: 3px solid #d9dcd6;
}

.line:last-child {
  display: none;
}
