* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.logout {
  position: absolute;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
  text-decoration: none;
  color: #d9dcd6;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  margin-left: 0.7rem;
}

.logout > div {
  display: flex;
}

.logout > div > i {
  cursor: pointer;
}
.logout > div > p {
  margin-left: 0.5rem;
  cursor: pointer;
}

.logout:hover {
  background-color: #f6f6f6;
}

.logout:hover > div > p {
  color: #334155;
}

.logout:hover > div > i {
  color: #334155;
}

header {
  position: relative;
  height: 100vh;
  width: 20vw;
  background-color: #11364b;
  float: left;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
}

.person {
  padding: 2rem;
  display: flex;
  margin-top: 1rem;
}

.person > p {
  margin-left: 0.5rem;
  color: #fff;
}
.person > i {
  margin-left: 0.5rem;
  color: #fff;
}

.option {
  display: flex;
  padding: 2rem;
  transition: all 0.5s ease;
  cursor: pointer;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  margin-left: 0.7rem;
  margin-bottom: 1rem;
}

.option > p {
  margin-left: 0.5rem;
}

.option:hover {
  background-color: #f6f6f6 !important;
}

.option:hover > p {
  color: #334155 !important;
}

.option:hover > i {
  color: #334155 !important;
}

.option1 {
  background-color: #f6f6f6;
}

.option1 > i {
  color: #334155;
}
.option1 > p {
  color: #334155;
}

Main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.form_parent {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.form_parent > .form_div {
  /* border: 2px solid #e2e8f0; */
  border-radius: 5px;
  padding: 2.4rem;
  width: 100%;
}

.form_div > h3 {
  text-align: center;
}

button {
  width: 40%;
  padding: 0.75rem 2rem;
  margin: 1rem auto;
  background-color: #6c63ff;
  color: #d9dcd6;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
  display: block;
}

button:hover {
  background-color: #6c63ff;
}

form {
  padding: 2rem;
  width: 100%;
  height: auto;
}

form > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

form > div > input {
  cursor: pointer;
}

form > div > h4 {
  margin-left: 0.5rem;
}

table {
  border-collapse: collapse;
  color: #575555;
  width: 100%;
  height: 50vh;
  text-align: center;
  font-size: 1.2rem;
}

table,
td,
th {
  border-collapse: collapse;
  border: 3px solid #575555;
}

td,
th {
  padding: 1rem;
}

input[type="checkbox"] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #e2e8f0;
}

th {
  background-color: #a7b8c3;
}
