* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: #334155;
}
.form_parent {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #e2e8f0;
}

.form_parent > .form_div {
  /* border: 2px solid #e2e8f0; */
  background: #2c3849;
  border-radius: 5px;
  padding: 2.4rem;
  width: fit-content;
}

.form_div > h3 {
  text-align: center;
  margin-top: 0.5rem;
}

.form_input {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 10rem;
  margin-left: 1rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: max-content;
}

input,
select {
  padding: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #e2e8f0;
  color: #e2e8f0;
  outline: none;
}

.form_input > label {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

button {
  margin-top: 1rem;
  padding: 1rem 3rem;
  border: 3px solid #f8e7cd;
  cursor: pointer;
  background-color: transparent;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
}

button:hover {
  background-color: #334155;
  color: #e2e8f0;
}

#gender {
  cursor: pointer;
}

option {
  background-color: #334155;
  color: #e2e8f0;
  cursor: pointer;
}

.fa-sign-out-alt {
  position: absolute;
  top: 0;
  right: 5%;
  cursor: pointer;
}
